USE [master]
GO
/****** Object:  Database [HOPITAL]    Script Date: 12/12/2023 12:28:51 PM ******/
CREATE DATABASE [HOPITAL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HOPITAL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\HOPITAL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HOPITAL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\HOPITAL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HOPITAL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HOPITAL]
GO
USE [HOPITAL]
GO
/****** Object:  Table [dbo].[Authentification]    Script Date: 12/12/2023 12:28:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authentification](
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NULL,
	[nom] [nvarchar](50) NULL,
	[metier] [int] NULL,
 CONSTRAINT [PK_Authentification] PRIMARY KEY CLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 12/12/2023 12:28:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[id] [int] NOT NULL,
	[nom] [nvarchar](50) NULL,
	[prenom] [nvarchar](50) NULL,
	[age] [int] NULL,
	[adresse] [nvarchar](50) NULL,
	[telephone] [nvarchar](50) NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visites]    Script Date: 12/12/2023 12:28:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visites](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idpatient] [int] NULL,
	[date] [datetime] NULL,
	[medecin] [nvarchar](50) NULL,
	[numSalle] [int] NULL,
	[tarif] [int] NULL,
 CONSTRAINT [PK_Visites] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
